@inject MainModel MainVM
@inject NavigationManager NavMen

<div style=" display: flex; justify-content: center;align-items: center; position:absolute;top: 20%; left: 40%; width: 20%; height: 50vh; background-color :aquamarine;">
    <div>
        <label>
            Login.
            <div>
                <InputText @bind-Value="_login"></InputText>
            </div>
        </label>
        <br />

        <label>
            Password.
            <div>
                <InputText @bind-Value="_password"></InputText>
            </div>
        </label>
        <br />

        <button style="width :100%; height:5%; background-color: lightseagreen" @onclick="Login">Login</button>
        <br />

         <div>@_error</div>
        <br />
        <br />

        <div>
            <button style="width :100%; height:5%; background-color:crimson" @onclick="CreateUser">Create user</button>
        </div>

    </div>
</div>

@code {

    [Parameter] public EventCallback CreateUser { get; set; }
    [Parameter] public EventCallback Render { get; set; }
    private string _login;
    private string _password;
    private string _error ;

    private async Task Login()
    {
        if(!string.IsNullOrWhiteSpace(_login) && !string.IsNullOrWhiteSpace(_password))
        {
            if (!await MainVM.Login(_login, _password))                                    
                _error = "Incorrect login or password.";

            Render.InvokeAsync();           
        }  
    }
}
